# The guilds to allow the bot to run in. To get the server ID, open Discord, go
# to Settings → Advanced and enable developer mode. Then, right-click on the
# server title and select "Copy ID" to get the guild ID.
BOT_GUILDS=12345,67890

# The number of messages to store in memory for each channel
BOT_MEMORY_LIMIT=10

# The name of the bot
BOT_NAME=FalseBott

# https://discordjs.guide/preparations/setting-up-a-bot-application.html#setting-up-a-bot-application
DISCORD_TOKEN=NTU...

# https://github.com/winstonjs/winston#logging-levels
LOG_LEVEL=info


# https://platform.openai.com/account/api-keys
OPENAI_API_KEY=sk-...
